addict
appdirs
certifi
charset-normalizer
click
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cycler
dill
dlib
docker-pycreds
face_alignment
filelock
fonttools
ftfy
gdown
gitdb
GitPython
idna
imageio
joblib
kiwisolver
lazy_loader
llvmlite
matplotlib
networkx
numba
numpy
opencv-python
packaging
pandas
pathtools
Pillow
protobuf
psutil
pyparsing
PySocks
python-dateutil
pytz
PyYAML
regex
scikit-image
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
threadpoolctl
tifffile
torch
torchmetrics
torchvision
tqdm
typing_extensions
tzdata
urllib3
wandb
wcwidth

# New for API serving
fastapi
uvicorn
requests
